# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env/
venv*/
*venv*/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log
logs/

# Audio temporaires
temp_audio/
*.wav
*.mp3

# Modèles Whisper (téléchargés automatiquement)
~/.cache/whisper/

# OS
.DS_Store
Thumbs.db


meeting_reports/*
meeting_sessions/*